* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 243, 250);
    font-family: monospace;
}

.container {
    width: 50%;
    margin: 0 auto;
}

header {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.player-row {
    display: grid;
    margin: 0 1.5em 0 1.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.player-name1 {
    justify-self: center;
    grid-column: 1/1;
    grid-row: 2/2;
}

.player-name2 {
    justify-self: center;
    grid-column: 2/2;
    grid-row: 2/2;
}

.player-name3 {
    justify-self: center;
    grid-column: 3/3;
    grid-row: 2/2;
}

.player-name4 {
    justify-self: center;
    grid-column: 4/4;
    grid-row: 2/2;
}

.round {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.score {
    line-height: 19px;
    text-align: center;
}

.score-input {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100px;
}

.score-line {
    height: 1px;
    background-color: #000;
}

.sub-scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.total-score {
    display: grid;
    margin: 0 1.5em 0 1.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.round-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subgame-container {
    display: grid;
    grid-template-columns: 1fr 48fr 1fr
}

.subgame-header {
    text-align: center;
}

.player-scores {
    align-items: center;
}

.arrow {
    cursor: pointer;
    align-self: center;
}